---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import contentful from "@api/blogs";
import type { FieldsType } from "contentful";
import { blogPage, pageTitleDesc } from "content";
import Typography from "@components/Typography";

const blogsEntries = await contentful.getEntries({
  content_type: "pageBlogPost",
});

const blogs = blogsEntries?.items.map((item) => {
  const { title, shortDescription, slug, publishedDate, featuredImage } =
    item.fields as FieldsType;
  return {
    title,
    slug,
    description: shortDescription,
    featuredImage,
    date: new Date(publishedDate).toLocaleDateString(),
  };
});
---

<Layout
  title={pageTitleDesc.blog.title}
  description={pageTitleDesc.blog.description}
>
  <Navbar />
  <main class="bg-white py-8">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <Typography
          tag="h3"
          size="h3/bold"
          variant="primary"
          className=" tracking-tight sm:text-4xl"
        >
          {blogPage.heading}
        </Typography>
        <Typography
          size="subheading/normal"
          variant="secondary"
          className="mt-2  leading-8"
        >
          {blogPage.description}
        </Typography>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        {
          blogs
            ? blogs.map((blog) => (
                <BlogCard
                  title={blog.title}
                  description={blog.description}
                  slug={blog.slug}
                  date={blog.date}
                  image={blog.featuredImage}
                />
              ))
            : "Blog not found"
        }

        <!-- More posts... -->
      </div>
    </div>
  </main>

  <Footer />
</Layout>
