---
import { yellow } from "colorette";

export interface Props {
  title: string;
  description: string;
  image?: string;
}
const { title, description, image = "/og-image.webp" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const canonical = canonicalURL.toString().slice(0, -1);
if (description && description?.length > 160) {
  const msg = `
Description is longer than 160 characters in ${Astro.url.pathname}
`;
  console.warn(yellow(msg));
}
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonical} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonical} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.site)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonical} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.site)} />

<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-1ZSJXCXN8X"></script>
<script type="text/partytown">
window.dataLayer = window.dataLayer || [];
function gtag() {
  dataLayer.push(arguments);
}
gtag("js", new Date());

gtag("config", "G-1ZSJXCXN8X");
</script>

<!-- umami script -->
<script
  async
  src="https://umami.curiosta.com/script.js"
  data-website-id="2994f655-b2b0-4afa-a05b-af202b6ad1a3"
  data-auto-track="false"></script>
