---
import Chip from "./Chip";
import Typography from "@components/Typography";
const { title, slug, date, description, image } = Astro.props;
---

<article class="flex flex-col items-start">
  <div class="relative w-full">
    <img
      src={image.fields.file.url}
      alt={image.fields.title}
      class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
    />
    <div
      class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
    >
    </div>
  </div>
  <div class="max-w-xl">
    <div class="mt-8 flex items-center gap-x-4 text-xs">
      <time datetime="2020-03-16" class="text-gray-500">{date}</time>
      <a
        href={`/blog/${slug}`}
        >
          <Chip>
            Marketing
          </Chip>
        </a
      >
    </div>
    <div class="group relative">
      <Typography
        tag="h3"
        variant="primary"
        size="subheading/medium"
        className="mt-3  leading-6  group-hover:text-gray-600"
      >
        <a href={`/blog/${slug}`}>
          <span class="absolute inset-0"></span>
          {title}
        </a>
      </Typography>
      <Typography
        size="body2/normal"
        variant="secondary"
        className="mt-5 line-clamp-3  leading-6"
      >
        {description}
      </Typography>
    </div>
  </div>
</article>
