---
import Button from "@components/Button";
import RightNav from "@components/RightNav";
import CartDrawer from "@components/CartDrawer";
import CheckoutDrawer from "@components/CheckoutDrawer";
const navLinks = [
  {
    title: "Products",
    description: "Explore product",
    link: "/products",
  },
  {
    title: "Open Making",
    description: "Open Making",
    link: "/open-making",
  },
  {
    title: "Solution Engineers",
    description: "Solution Engineers",
    link: "/solution-engineers",
  },
  {
    title: "Blog",
    description: "Blog",
    link: "/blog",
  },
];
---

<header class="inset-x-0 top-0 z-10">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex">
      <a href="/" class="-m-1.5 p-1.5">
        <img
          class="h-12 w-auto"
          src="/images/curiosta_logo.png"
          alt="Curiosta"
        />
      </a>
    </div>
    <div class="flex lg:hidden">
      <Button
        type="button"
        variant={"icon"}
        className="-m-2.5 !w-auto !border-none inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        id="open-menu"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </Button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      {
        navLinks.map((nav) => (
          <a
            href={nav.link}
            title={nav.description}
            class="text-sm font-semibold leading-6 text-gray-900"
          >
            {nav.title}
          </a>
        ))
      }
    </div>
    <!-- <ShipmentRegions regions={regions} client:load /> -->
    <!-- Right Nav -->
    <RightNav client:load />
    <CartDrawer client:only="preact" />
    <CheckoutDrawer client:only="preact" />
  </nav>
  {/* Mobile menu, show/hide based on menu open state. */}
  <div class="lg:hidden" role="dialog" aria-modal="true">
    {/* Background backdrop, show/hide based on slide-over state. */}

    <div
      class="fixed hidden inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      id="nav-links"
    >
      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <img
            class="h-12 w-auto"
            src="/images/curiosta_logo.png"
            alt="Curiosta"
          />
        </a>
        <button
          type="button"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
          id="close-menu"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            {
              navLinks.map((nav) => (
                <a
                  href={nav.link}
                  title={nav.description}
                  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >
                  {nav.title}
                </a>
              ))
            }
          </div>
          <div class="py-4">
            <!-- <ShipmentRegions screen="mobile" regions={regions} client:load /> -->
            <RightNav screen="mobile" client:load />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const navLinks = document.getElementById("nav-links") as HTMLDivElement;
  const openMenu = document.getElementById("open-menu") as HTMLButtonElement;
  const closeMenu = document.getElementById("close-menu") as HTMLButtonElement;

  openMenu.addEventListener("click", () => {
    navLinks.style.display = "block";
  });
  closeMenu.addEventListener("click", () => {
    navLinks.style.display = "none";
  });
</script>
